<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      th:fragment="AdminHeaderFragment">
<th:block th:fragment="script">
    <script src="/js/axios.min.js"></script>
</th:block>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/ad_header.css}">
</head>
<body>
<div class="header_wrapper">
    <header>
        <a href="/admin/users/products/orders" id="logo">
            <img th:src="@{/images/admin/admin_logo.jpg}" alt="admin_logo"/>
        </a>
        <div class="home">
            <a href="/">HOME | </a>q

            <a href="/auth/user/logout">로그아웃 | </a>
            <a href="/client/boards?section=community&type=qna">고객센터</a>
        </div>
    </header>
</div>
</body>
</html>