main {
    display: flex;
}

.slide2 {
    padding: 20px;
    padding-left: 40px;
}

.slide2 .header-gubun {
    width: 100%;
    height: 2px;
    margin-bottom: 20px;
}

.slide2 nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.slide2 nav em {
    color: #91BA15;
    font-weight: 600;
}

.schedule-calendar-box {
    background: white;
}

.calendar-header-box {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
}

.header-btn {
    display: flex;
}

.header-prev, .header-next {
    color: white;
    font-weight: 900;
    width: 50px;
    height: 30px;
    display: flex;
    background-color: #2c3e50;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}


.header-month {
    margin: 0;
}

.seperate-box{
    display: flex;
    gap: 15px;
}

.today-btn{
    color: white;
    font-weight: 500;
    width: 45px;
    height: 30px;
    display: flex;
    background-color: #76818d;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    border-radius: 5px;
    cursor: pointer;
}
.today-btn:hover{
    opacity: 0.8;
}

.header-btn button {
    cursor: pointer;
}

.header-btn button:hover {
    opacity: 0.8;
}

.header-month{
    font-size: 25px;
    font-weight: 700;
}

.calendar-days {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(7, 0fr);
    text-align: center;
    font-weight: bold;
}

.calendar-days div {
    width: 101px;
    height: 30px;
    display: flex;
    padding-right: 2px;
    padding-top: 2px;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid rgba(0,0,0,0.2);
    font-weight: 600;
}

.calendar-dates {
    display: grid;
    grid-template-columns: repeat(7, 0fr);
}

#dates div {
    height: 101px;
    width: 101px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0.2);
    font-weight: 600;
    padding-right: 2px;
    padding-top: 2px;
    align-items: flex-end;
}

#dates div p {
    width: 100%;
    margin-top: 20px;
}



#dates div:hover {
    background: #d0d0d0;
}

.modal-box {
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    top: 0;
    height: 1000px;
    left: 0;/* 다른 요소들 위에 표시되도록 */
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#modal-content-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    z-index: 1000;
    position: fixed;
    top: 120px;
    height: 400px;
}

.color-flex,.bg-flex {
    display: flex;
}

#close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.modal-hidden {
    display: none;
}


.modal-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-content input {
    border: 1px solid #e4eaec;
    padding-left: 10px;
}

label {
    margin-right: 10px;
}

input[type="range"] {
    width: 100%;
}

h4 {
    margin-top: 15px;
}

#preview-color {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.schedule-text{
    border: none;
    outline: none;
    height: 30px;
}

.button-separate{
    display: flex;
    justify-content: space-between;
}

.add-event{
    background-color: #2E658A;
    padding: 10px;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    border: none;
}

.add-event:hover{
    opacity: 0.8;
}

.delete-event:hover{
    opacity: 0.8;
}

#dates div {
    user-select: none;
    overflow: scroll;
    resize: none;
}

#dates div::-webkit-scrollbar {
    display: none;
}


.delete-event{
    background-color: #2E658A;
    padding: 10px;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    border: none;
}

.add-events, #delete-events{
    display: none;
}

/*.box {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 1px;*/
/*    height: 1px;*/
/*    transform-origin: left top;*/
/*    background-color: rgb(0 0 0 / 60%);*/
/*}*/