main {
    display: flex;
    position: relative;
}

.view {
    width: 100%;
    padding: 20px;
    padding-left: 40px;
}

.header-gubun {
    width: 100%;
    height: 2px;
    margin-bottom: 40px;
    margin-top: 10px;
}

.view nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.view nav em {
    color: #91BA15;
    font-weight: 600;
}

 .view > h3 {
    margin: 10px 0;
    font-family: '고딕';
    font-size: 16px;
    font-weight: bold;
}

 .view > .basic {
    width: 100%;
    height: 270px;
    position: relative;
    overflow: hidden;
}
 .view > .basic > .img {
     float: left;
     width: 266px;
     height: 200px;
}
 .view > .basic > table {
    float: right;
    width: 60%;
    height: 200px;
    margin-left: 16px;
    border-top: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
}

 .view > .basic > table em {
    color: #777;
}
 .view > .basic > table .total {
    font-weight: bold;
    color: #c20a0a;
}

 .view > .basic > .btnOrder {
    position: absolute;
    right: 0;
    bottom: 0;
     cursor: pointer;
}

.view > .basic > .btnOrder:hover {

}
 .view > .basic > .btnCart {
     position: absolute;
     right: 200px;
     bottom: 2.5px;
     background-color: #769b0a;
     color: rgba(255,255,255,0.8);
     width: 150px;
     height: 50px;
     padding-top: 5px;
     font-size: 17px;
     font-weight: 900;
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
 }

 .view > .detail {}
 .view > .delivery {}
 .view > .exchange table {
    width: 100%;
    border-collapse: collapse;
}
 .view > .exchange table tr {}
 .view > .exchange table td {
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
 .view > .exchange table td:first-child {border-left: none;}
 .view > .exchange table td:last-child {border-right: none;}

 .view > .exchange table ul > li {
    margin-left: 12px;
    list-style-type: disc;
    line-height: 18px;
}

 .discount-img{
     position: absolute;
     left: 0px;
 }
.realPrice {
    color: red;
}

.noDiv {
    text-decoration: line-through;
    text-decoration-color: red;
    text-decoration-thickness: 2px;
}

.detail img {
    width: 730px;
    height: auto;
}