<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>에러</title>
    <link rel="stylesheet" th:href="@{/css/error.css}">
    <th:block th:fragment="script">
        <script src="/js/axios.min.js"></script>
    </th:block>
</head>
<body>
<div class="container">
    <header th:replace="layout/header.html"></header>
    <main>
        <div class="error-page">
            <div class="page-flex">
                <p>알수없는 에러가 발생했습니다.</p>
                <div class="page-link">
                    <a href="/">메인으로>></a>
                </div>
            </div>
        </div>
        <img class="error-img" th:src="@{/images/merong.png}">
    </main>
    <footer th:replace="layout/footer.html"></footer>
</div>
</body>
</html>