<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="script">
    <script src="/js/axios.min.js"></script>
</th:block>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/order_list.css}">
    <title>상품 상세보기</title>
</head>
<body>
    <div class="container">
        <header th:replace="layout/header.html"></header>
        <main>
            <aside th:replace="layout/sidebar.html"></aside>
            <div class="list">
                <nav>
                    <img th:src="@{/images/myinfo_nav_tit2.png}" alt="주문내역" />
                    <p>
                        HOME >
                        <span>나의정보</span> >
                        <em>주문목록</em>
                    </p>
                </nav>
                <div><img class="header-gubun" th:src="@{/images/head_menu_line.png}"></div>
                <table class="tb1">
                    <colgroup>
                        <col style="width: 11%">
                        <col style="width: 5%">
                        <col style="width: 10%">
                        <col style="width: 15%">
                        <col style="width: 10%">
                        <col style="width: 10%">
                        <col style="width: 10%">
                        <col style="width: 10%">
                        <col style="width: 10%">
                    </colgroup>
                    <tr>
                        <th>주문번호</th>
                        <th>이미지</th>
                        <th>상품명</th>
                        <th>판매가격</th>
                        <th>주문품목수</th>
                        <th>합계</th>
                        <th>주문자</th>
                        <th>주문일</th>
                        <th>확인</th>
                    </tr>
                    <tr id="table-setter" th:each="order : ${orders}">
                        <td th:text="${order.orderIdx}"></td>
                        <td><img th:src="@{${order.filePath}+ ${order.fileName}}"></td>
                        <td th:text="${order.prodName}"></td>
                        <td th:text="${order.prodPrice.intValue()}+원"></td>
                        <td th:text="${order.prodQuantity}"></td>
                        <td th:text="${order.totalPrice.intValue()}+원"></td>
                        <td th:text="${order.userName}"></td>
                        <td th:text="${order.orderCreateAt}"></td>
                        <td><a th:href="@{/mypage/order(orderIdx=${order.orderIdx})}">[상세확인]</a></td>
                    </tr>
                </table>
                <div class="button">
                    <a class="none" th:href="@{/mypage/orders(page=0, section=${section}, type=${type})}" ><<</a>
                    <a class="none" th:href="@{/mypage/orders(page=${currentPage - 2}, section=${section}, type=${type})}" th:if="${currentPage>=2}" th:text="${currentPage}-1"></a>
                    <a class="none" th:href="@{/mypage/orders(page=${currentPage - 1}, section=${section}, type=${type})}" th:if="${currentPage>=1}" th:text="${currentPage}"></a>
                    <a class="none" th:text="${currentPage}+1"
                       th:classappend="${page==currentPage} ? 'active-bg' : 'none'"
                    ></a>
                    <a class="none" th:href="@{/mypage/orders(page=${currentPage + 1}, section=${section}, type=${type})}" th:if="${(totalPage - currentPage)>=2}" th:text="${currentPage}+2"></a>
                    <a class="none" th:href="@{/mypage/orders(page=${currentPage + 2}, section=${section}, type=${type})}" th:if="${(totalPage - currentPage)>=3}" th:text="${currentPage}+3"></a>
                    <a class="none" th:href="@{/mypage/orders(page=${totalPage.intValue()-1}, section=${section}, type=${type})}" >>></a>
                </div>
            </div>
        </main>
        <footer th:replace="layout/footer.html"></footer>
    </div>

</body>
</html>