<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>장보기</title>
    <link rel="stylesheet" th:href="@{/css/product_list.css}">
    <script th:inline="javascript">
        var dbToday = /*[[${dbToday}]]*/ 'false';
        var page = /*[[${page}]]*/ '';
        var section = /*[[${section}]]*/ '';
        var type = /*[[${type}]]*/ '';
        var search = /*[[${search}]]*/ '';
    </script>
</head>
<body>
    <div class="container">
        <header th:replace="layout/header.html"></header>
        <main>
            <aside th:replace="layout/sidebar.html"></aside>
            <div class="main-container">
                <nav>
                    <img src="../images/sub_nav_tit_cate2_tit1.png" alt="장보기"/>
                    <p>
                        HOME > 장보기 > <em>장보기</em>
                    </p>
                </nav>
                <div><img class="header-gubun" th:src="@{/images/head_menu_line.png}"></div>
                <div class="search-box">
                    <input placeholder="검색어를 입력해주세요." id="searchValue" class="search-product">
                    <button class="search-product-btn" onclick="searchProducts(event)">검색</button>
                </div>
                <!-- 내용 시작 -->
                <p class="sort">
                    <a href="#" data-type="all" th:classappend="${type=='all'} ? 'on' : ''" onclick="getProductsType(event)" th:text="'전체(' + ${products3} + ')'"> |</a>
                    <a href="#" data-type="과일" th:classappend="${type=='과일'} ? 'on' : ''" onclick="getProductsType(event)" th:text="'과일(' + ${totalCntType} + ')'"> |</a>
                    <a href="#" data-type="야채" th:classappend="${type=='야채'} ? 'on' : ''" onclick="getProductsType(event)" th:text="'야채(' + ${totalCntType2} + ')'"> |</a>
                    <a href="#" data-type="신선야채" th:classappend="${type=='신선야채'} ? 'on' : ''" onclick="getProductsType(event)" th:text="'신선야채(' + ${totalCntType3} + ')'"></a>
                </p>
                <table class="tb-content" border="0">
                    <tr>
                        <td>사진</td>
                        <td>종류</td>
                        <td>상품명</td>
                        <td>재고</td>
                        <td>가격</td>
                    </tr>
<!--                    <img th:if="${dbToday=='true'}" th:src="@{/images/head_menu_badge.png}" alt="30%"/>-->
                    <tr th:data-idx="${product.prodIdx}" onclick="getProduct(event)" class="tr-content" th:each="product : ${products}" th:if="${product.prodStock != 0}">
                        <td>

                            <a th:href="@{/client/product(productIdx=${product.prodIdx})}">
                                <img class="prod_img" th:src="@{${product.prodFilePath + product.prodFileName}}">
                                <img th:if="${dbToday=='true'}" th:src="@{/images/head_menu_badge.png}" class="discount-img" alt="30%"/>
                            </a>
                        </td>
                        <td th:text="${product.prodType}"></td>
                        <td><a th:text="${product.prodName}" href="#"></a></td>
                        <td th:text="${product.prodStock}">재고</td>
                        <td th:if="${dbToday=='false'}"><strong th:text="${product.prodPrice.intValue()}"></strong>원</td>
                        <td th:if="${dbToday=='true'}">
                            <strong class="notPrice" th:text="${product.prodPrice.intValue()}"></strong>원
                            <strong class="realPrice" th:text="${product.prodPrice.intValue()/100*70}"></strong>원
                        </td>
                    </tr>
                    <tr th:data-idx="${product.prodIdx}" onclick="getProduct(event)" th:each="product : ${products}" th:if="${product.prodStock == 0}">
                        <td>
                            <a th:href="@{/client/product(productIdx=${product.prodIdx})}">
                                <img class="prod_img" th:src="@{${product.prodFilePath } + 'soldout.jfif'}">
                                <img th:if="${dbToday=='true'}" th:src="@{/images/head_menu_badge.png}" class="discount-img" alt="30%"/>
                            </a>
                        </td>
                        <td th:text="${product.prodType}"></td>
                        <td><a th:text="${product.prodName}" href="#"></a></td>
                        <td th:text="${product.prodStock}">재고</td>
                        <td th:if="${dbToday=='false'}"><strong th:text="${product.prodPrice.intValue()}"></strong>원</td>
                        <td th:if="${dbToday=='true'}">
                            <strong class="notPrice" th:text="${product.prodPrice.intValue()}"></strong>원
                            <strong class="realPrice" th:text="${product.prodPrice.intValue()/100*70}"></strong>원
                        </td>
                    </tr>
                </table>

                <div class="button">
                    <a class="none" th:href="@{/client/products(page=0, section=${section}, type=${type}, search=${search})}" ><<</a>
                    <a class="none" th:href="@{/client/products(page=${currentPage - 2}, section=${section}, type=${type}, search=${search})}" th:if="${currentPage>=2}" th:text="${currentPage}-1"></a>
                    <a class="none" th:href="@{/client/products(page=${currentPage - 1}, section=${section}, type=${type}, search=${search})}" th:if="${currentPage>=1}" th:text="${currentPage}"></a>
                    <a class="none" th:text="${currentPage}+1"
                       th:classappend="${page==currentPage} ? 'active-bg' : 'none'"
                    ></a>
                    <a class="none" th:href="@{/client/products(page=${currentPage + 1}, section=${section}, type=${type}, search=${search})}" th:if="${(totalPage - currentPage)>=2}" th:text="${currentPage}+2"></a>
                    <a class="none" th:href="@{/client/products(page=${currentPage + 2}, section=${section}, type=${type}, search=${search})}" th:if="${(totalPage - currentPage)>=3}" th:text="${currentPage}+3"></a>
                    <a class="none" th:href="@{/client/products(page=${totalPage.intValue()-1}, section=${section}, type=${type}, search=${search})}" >>></a>
                </div>
            </div>
        </main>
        <footer th:replace="layout/footer.html"></footer>
    </div>
    <script>
        function searchProducts(event){
            const searchValue = document.getElementById('searchValue').value
            let url = "/client/products?section="+section+"&&type="+type+"&&search="+searchValue
            window.location.href = url;
        }
    </script>
    <script>
        async function getProductsType(event){

            event.preventDefault();
            const type = event.target.getAttribute('data-type');

            // API URL 설정
            const url = `/client/products?section=product&&type=${type}`;
            window.location.href= url

        }

        function getProduct(event) {
            window.location.href = "/client/product?productIdx="+event.target.parentElement.dataset.idx
        }
    </script>
</body>
</html>